#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_COMM
#define VER_FILEDESCRIPTION_STR     "Qualcomm Network Kernel Debug Extensibility Module"
#define VER_INTERNALNAME_STR        "kd_8003_5143.dll"
#define VER_ORIGINALFILENAME_STR    "kd_8003_5143.dll"

#include "common.ver"
